html {
    height: 100%;
    font: 14px/1 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #444;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    transition: background-color .5s;
}
body.dark {
    background: #555;
}

#seed {
    position: absolute;
    right: 10px;
    top: 10px;

    color: rgba(0,0,0,0.5);

    user-select: all;
}

#plant {
    position: relative;
    height: calc(100% - 130px);
    margin: 20px 20px 0;
}
#plant > svg {
    position: absolute;
    top: 0;
    left: 110%;
    width: 100%;
    height: 100%;
    transition: fill .5s, left 1s;
}
#plant > svg.center {
    left: 0;
}
#plant > svg.left {
    left: -110%;
}
#plant > svg.right {
    left: 110%;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: stretch;

    height: 110px;
    background: #eee;

    transition: background-color .5s;
}
body.dark #controls {
    background: #222;
}
#controls > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100px;
    max-width: 25%;

    user-select: none;

    transition: background-color .5s;
}
#controls > div > svg {
    width: 48px;
    height: 48px;
    fill: #444;

    transition: fill .5s;
}
#controls > div.on > svg.off {
    display: none;
}
#controls > div.off > svg.on {
    display: none;
}
#controls > div > span {
    margin: 5px 0 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;

    transition: color .5s;
}
body.dark #controls > div > svg, body.dark #controls > div > span {
    color: #ccc;
    fill: #ccc;
}

#controls > div:hover {
    cursor: pointer;
    background: #e4e4e4;
}
body.dark #controls > div:hover {
    background: #111;
}
#controls > div:hover > svg, #controls > div:hover > span {
    fill: #111;
    color: #111;
}
body.dark #controls > div:hover > svg, body.dark #controls > div:hover > span {
    fill: #fff;
    color: #fff;
}
#controls > div.inactive, body.dark #controls > div.inactive {
    cursor: default;
    background: transparent;
}
#controls > div.inactive > svg, #controls > div.inactive > span {
    fill: #aaa;
    color: #aaa;
}
body.dark #controls > div.inactive > svg, body.dark #controls > div.inactive > span {
    fill: #666;
    color: #666;
}